body {
  margin: 0;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
}
.center-text {
  font-size: 32px;
}